/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* generali */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

/* bottoni */

.button {
    display: inline;
    padding: 5px 15px;
}

.bg-blue {
    background-color: rgb(5, 68, 255);
    color: white;
}


/* navbar */

header {
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.navbar-left {
    float: left;
    margin-left: 15px;
}

.box-logo {
    vertical-align: middle;
    float: left;
    line-height: 60px;
}

.box-nav {
    float: left;
    margin-left: 15px;
}

header nav ul li {
    list-style: none;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    line-height: 60px;
    padding: 0 10px;
}

.navbar-right {
    float: right;
    margin-right: 15px;
}

.box-nav {
    float: left;
}
 
/* sezione 1 */

.sec-1 {
    height: 550px;
    background-color: rgb(166, 197, 225);
    margin-top: 60px;
}

.title h1 {
    font-size: 3.5rem;
    padding-top: 60px;
    padding-bottom: 30px;

}

.left-text {
    width: 30%;
    float: left;
}

.left-text p {
    margin: 20px 0 ;
}

.left-text i {
    transform: scale(2);
    padding-top: 20px;
}

.right-img {
    width: 70%;
    float: left;
}

.right-img img {
    width: 100%;
}